body{
    background-image: url("../images/icons/mall.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color:whitesmoke;
}
p {
    color: whitesmoke;
    font-size: large;
}

.mall1 {
    width: 400px;
    float: left;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 4px;
    opacity: 0.7;

}

.container {
    border-radius: 6px;
    background-color: #777676;
    padding: 20px;
    width: 400px;
    float: right;
    margin-right: 280px;
    margin-top:50px;
    
}

/*menu bar below*/

#menu{
    width:100%px;
    background-color: rgb(255, 255, 255);
    padding-top:6px;
}

#menu a{
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration:none;
    font-weight: 800px;
    text-align: center;
    padding-left: 13px;
    padding-right: 5px;

}

#menu a:hover{
    color: #bb006d;
}