* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body{
    background-image: url("../images/icons/background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2, p {
    font-size: 20px;
    color:rgb(255, 255, 255);
    margin-left: 50px;
    margin-top:60px;
    text-align:center;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: #41414194;
    z-index: 9;
}

.nav{
    padding:10px 10vw;
    display:flex;
    justify-content: space-between;
}

.logo{
    height: 50px;
    width: 65px;
}

.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    transition: .5s;
    font-size: 25px;
}

.link:hover{
    opacity: 1;
}

/********contact form**********/

.container {
    border-radius: 6px;
    background-color: #b6b4b4;
    padding: 20px;
    width: 300px;
    float: right;
    margin-right: 260px;
    margin-top: 70px;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #cc5a80;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}