* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {

    background-color: rgb(247, 214, 174);
}

.logo{
    height: 50px;
    width: 65px;
}


.logo2 {
    width: 43%;
    height: 500px;
    justify-content: left;
    border: black solid 2px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    float: right;
    margin-right: 360px;
    text-decoration: underline;
    color: white;

}

p {
    float: right;
    margin-top: 100px;
    margin-right: -450px;
    font-size: 17px;
}



.layout {
    position: sticky;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: #3f3f3f70;
    background-image: url("../images/icons/background3.jpg");
    z-index: 9;
}

.nav{
    padding:10px 10vw;
    display:flex;
    justify-content: space-between;
}

.logo{
    height: 55px;
    width: 70px;
}

.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #e7e7e7;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    transition: .5s;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.link:hover{
    opacity: 1;
}